<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
    </head>
    <body>
        <p>
            We're very sorry, there is a bug somewhere.
            Please, copy this stacktrace and submit it
            as a new issue to <a href="https://github.com/yegor256/dd/issues">the issue tracking section</a>
            in our GitHub repository.
            Appreciate your help!
        </p>
        <pre>${err}</pre>
    </body>
</html>
