@import 'colors';

body {
  background-color: white;
}

section {
  margin: 1em;
  max-width: 100%;
  width: 40em;
}

nav {
  text-align: left;

  ul {
    text-align: left;
  }
}

footer {
  font-size: .75em;
}

.bar {
  background-color: $blue;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 1em;
}

.logo {
  background-color: $blue;
  color: white;
  padding: 0 .2em;

  &:hover {
    text-decoration: none;
  }
}

.flash {
  &.SEVERE { color: $red; }

  &.INFO { color: $green; }

  &.WARNING { color: $orange; }
}

